<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @feed.image.url %>
  <p>
    
</p>
</p>

<p>
  <strong>タイトル:</strong>
  <%= @feed.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @feed.content %>
</p>

<p>
  <storong>ユーザー名</storong>
  <%= @feed.user.name %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>